@use "sass:color";
@use "variables" as *;


.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: left;
  background: $contact-bg;
  margin: 20px auto;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  max-width: 400px;
}
.btn {
  background-color: $reset-btn-primary;
}