$primary: #ffc107;
$primary-bg: gray;
$border-radius: 1rem;
$input-border-radius: 8px;
$font-family-base: "Cascadia Code", Arial, sans-serif;

$heading-h2: 32px;
$heading-color: var(--bs-primary-text-emphasis);