$heading-h2: 32px;
$heading-color: var(--bs-primary-text-emphasis);

/* Dark theme */
$contact-bg: var(--bs-body-bg);
$text-contact: var(--bs-emphasis-color);

$reset-btn-primary: rgb(255, 183, 0);

/* Navigation */
$font-size-brand: 42px;
$secondary: #ff07ee;

/* Badge */
$badge-bg: #000;
$badge-text: #fff;
$border-badge: gray;

$avatar-size: 60px;
$avatar-radius: 50%;

